<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--注册别名-->
    <!--在mapper配置文件中就可以使用别名了-->
    <typeAliases>
        <typeAlias type="com.mxiaixy.pojo.User" alias="User"/>
        <typeAlias type="com.mxiaixy.pojo.Employee" alias="Employee"/>
        <typeAlias type="com.mxiaixy.pojo.Dept" alias="Dept"/>
    </typeAliases>

    <environments default="dev">
        <!--配置运行环境-->
        <environment id="dev">
            <!--配置事务管理器-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatisdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--加载mapper.xml文件-->
    <mappers>
       <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/EmployeeMapper.xml"/>
        <!--<mapper resource="mapper/DeptMapper.xml"/>-->
    </mappers>
</configuration>