<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间 最好写成完全限定名格式-->
<mapper namespace="com.mxiaixy.mapper.EmployeeMapper">
    <!--sql语句-->
    <!--多对一查询    两表联查-->
    <!--1.通过映射查询-->
   <!-- <select id="findById"  resultMap="employeeMapper" >
        SELECT t_employee.id,empname,deptid,t_dept.id,deptname
        FROM t_employee
        INNER JOIN t_dept ON t_employee.deptid=t_dept.id
        WHERE t_employee.id = #{id}
    </select>-->
    <!--2.通过别名查询-->
    <select id="findById"  resultType="Employee" >
         SELECT t_employee.id,empname,deptid,t_dept.id AS 'dept.id',deptname AS 'dept.deptname'
         FROM t_employee
         INNER JOIN t_dept ON t_employee.deptid=t_dept.id
         WHERE t_employee.id =1
    </select>
    <select id="findByDeptid" resultType="Employee">
        SELECT * FROM  t_employee WHERE  deptid=#{deptid}
    </select>
    <!--两表联查  查询说有数据-->
    <select id="findAll" resultMap="allMap">
        select * from t_employee
    </select>
    <!--第二种生成两边联查中的所有结果-->
    <!--配置findAll结果集映射-->
    <resultMap id="allMap" type="Employee">
        <id column="id" property="id"/>
        <result column="empname" property="empname"/>
        <result column="deptid" property="deptid"/>
        <!--coumn 值是赋值给select中得findByDeptid值-->
        <association property="dept" column="deptid"
                     select="com.mxiaixy.mapper.DeptMapper.findByDeptid"/>

    </resultMap>
    <!--1.配置结果集映射  -->
    <!--<resultMap id="employeeMapper" type="Employee">
        <id column="id" property="id"/>
        <result column="empname" property="empname"/>
        <result column="deptid" property="deptid"/>
        <association property="dept" javaType="Dept" column="deptid">
            <id property="id" column="deptid"></id>
            <result property="deptname" column="deptname"></result>
        </association>
    </resultMap>-->


</mapper>